.page-user {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .user-info {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    .user-name {
      margin-left: 1em;
      font-size: large;
      font-weight: 1000;
    }
  }
  .adm-list-body {
    border: unset;
  }
}
